<div class="nav-header">
  <div class="brand-logo">
    <a>
      <h2 style="color: aliceblue; font-family: Cambria">SDN</h2>
    </a>
  </div>
</div>
<div class="header bg-dark">
  <div class="header-content clearfix">
    <div class="header-left"></div>
    <div class="header-right">
      <ul class="clearfix">
        <li class="icons dropdown">
          <div
            class="user-img c-pointer position-relative"
            data-toggle="dropdown"
          >
            <span class="activity active"></span>
            <img src="assets/images/user/1.png" height="40" width="40" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
