<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a>Monitoring Part</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center mb-4">
              <div class="media-body">
                <h3 class="mb-0">Server Monitor</h3>
                <p class="text-muted mb-0">Public IP - 192.34.26.100</p>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col mx-3">
                <h6 class="text-muted">
                  CPU usage, Disk usage and Memory usage
                </h6>
                <hr />
                <table class="table table-dark">
                  <tbody>
                    <tr>
                      <th>HOSTNAME</th>
                      <td>testserve</td>
                    </tr>
                    <tr>
                      <th>CPU</th>
                      <td>
                        <ul>
                          <li>Count: 2</li>
                          <li>Usage: 0.0</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>MEMORY</th>
                      <td>
                        <ul>
                          <li>Percent: 31.8</li>
                          <li>Total: 4294.95MB</li>
                          <li>Used: 1321.75MB</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>DISK</th>
                      <td>
                        <ul>
                          <li>
                            Disk: dev/ploop3445pl | Mount Point:ext4 | Size:
                            158.45 | Usage: 6.16 | Percent Used: 4.1
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>NETWORK</th>
                      <td>
                        <ul>
                          <li>Traffic in: 0.00208</li>
                          <li>Traffic out: 8e-05</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>OS</th>
                      <td>Linux 2.6.32-696.10.1.el6.x86_64</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
