<div class="content-body">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
          <div class="card-body">
            <h3 class="card-title text-white">Date</h3>
            <div class="d-inline-block">
              <h2 class="text-white">{{ myDate | date: "shortDate" }}</h2>
              <p class="text-white mb-0">Jan - Dec 2021</p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-calendar"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
          <div class="card-body">
            <h3 class="card-title text-white">Tier Count</h3>
            <div class="d-inline-block">
              <h2 class="text-white">5</h2>
              <p class="text-white mb-0">Jan - Dec 2021</p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-check-square-o"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
          <div class="card-body">
            <h3 class="card-title text-white">Customers Count</h3>
            <div class="d-inline-block">
              <h2 class="text-white">{{ customerCount }}</h2>
              <p class="text-white mb-0">Jan - Dec 2021</p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-users"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
          <div class="card-body">
            <h3 class="card-title text-white">Customer Satisfaction</h3>
            <div class="d-inline-block">
              <h2 class="text-white">100%</h2>
              <p class="text-white mb-0">Jan - Dec 2021</p>
            </div>
            <span class="float-right display-5 opacity-5"
              ><i class="fa fa-heart"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #/ container -->
</div>
