<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a>Traffic Prediction Part</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Traffic Monitor Log</h4>
            <div class="table-responsive table-new">
              <table class="table header-border">
                <thead>
                  <tr>
                    <th scope="col">Packet #</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">MAC</th>
                    <th scope="col">IPv4</th>
                    <th scope="col">TCP/UDP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>09.25.54</td>
                    <td>0a:8f:42:f7:b4:ce &#8594; 0a:8f:42:f7:b4:ce</td>
                    <td>172.31.47.223 &#8594; 172.31.47.223</td>
                    <td>22 &#8594; 20772</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
