<div class="nk-sidebar">
  <div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
      <li routerLink="/main/dashboard" routerLinkActive="active">
        <a class="has-arrow" aria-expanded="false">
          <i class="fa fa-tachometer menu-icon"></i
          ><span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li routerLink="/main/predict-tier" routerLinkActive="active">
        <a class="has-arrow" aria-expanded="false">
          <i class="fa fa-handshake-o menu-icon"></i
          ><span class="nav-text">Resource Allocation</span>
        </a>
      </li>
      <li routerLink="/main/tiers-list" routerLinkActive="active">
        <a class="has-arrow" aria-expanded="false">
          <i class="fa fa-balance-scale menu-icon"></i
          ><span class="nav-text">Load Balancing</span>
        </a>
      </li>
      <li routerLink="/main/monitor" routerLinkActive="active">
        <a class="has-arrow" aria-expanded="false">
          <i class="fa fa-desktop menu-icon"></i
          ><span class="nav-text">Monitoring</span>
        </a>
      </li>
      <li routerLink="/main/traffic-log" routerLinkActive="active">
        <a class="has-arrow" aria-expanded="false">
          <i class="fa fa-history menu-icon"></i
          ><span class="nav-text">Traffic Prediction Log</span>
        </a>
      </li>
    </ul>
  </div>
</div>
